@import "./base.css";
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato&display=swap');

body {
  background: #fec89a;
  color: #6d6875;
  font-family: 'Cinzel', serif;
}

#app {

  padding: 2rem;

  font-weight: normal;
}
